@page
@model AWA.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    @*@for (int index = 1; index <= 22; index++)
    {
        string fileindex = index.ToString()
        .PadLeft(totalWidth: 3, paddingChar: '0');

        <a href="~/Page@(fileindex)">Page@(fileindex)</a>
        <br />
    }*@

    <img src="~/Images/IMG_20211018_234111_893.jpg" alt="Photo2" />

</body>
</html>

