@page
@model AWA.Pages.Page1Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout01";
    ViewData["Title"] = "Shop";
}


<h3>
    فروشگاه
</h3>

<hr />

@*@section StyleSheets
{
    <h3>
        لوازم برقی
    </h3>
}*@

@section MainBody
{
    <h3 class="text-decoration-line-through">
        لوازم برقی
    </h3>
}
