@page
@model AWA.Pages.Page1Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        page 001
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>


   @* <br />

    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Photo1" asp-append-version=true/>

    <br />*@

</body>
</html>
