@page
@model AWA.Pages.Errors.ErrorModel
@addTagHelper *, Mirosoft.AspNet.Mvc.TagHelpers

@{
}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale-1" />

    <title>
        Error228!
    </title>

</head>

<body class="bg-black text-danger">

    <header>
        خطایی رخ داده است
    </header>

    <main>
    </main>

    <footer>
    </footer>

</body>
</html>
