@page
@model AWA.Pages.Errors.ErrorModel
@addTagHelper *, Mirosoft.AspNet.Mvc.TagHelpers

@{
}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale-1" />

    <title>
        Error405!
    </title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body class="m-4 bg-black bg-opacity-25">

    <header class="bg-dark">
       <h1 class="p-5 text-center text-danger">
           خطایی رخ داده است!
       </h1>
    </header>

    <main>
    </main>

    <footer>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
